.card-container{
    width: 384px;
    min-width: 260px;
}

.card-image{
    width: 100%;
}

.card-image-carousel{
    border-radius: 12px;
}

.card-content {
    padding: 16px;
    gap: 8px;
}

.card-content h3{
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #18181B;
}

.card-content p{
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: #18181B;
}