.carousel-container{
    flex-direction: row;
}

@media screen and (width <= 1366px) {
    .carousel-container{
        flex-wrap: wrap;
    }
  }

@media screen and (width <= 450px) {
    .carousel-container{
        padding: 0 20px;
    }
  }
  