.credentials-container{
    background: rgb(49, 46, 129);
}

.credentials{
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
    padding: 32px 20px;
    color: rgb(229, 231, 235);
    text-align: center;
    justify-content: space-around;
}

.credentials h1{
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
}
.credentials p{
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
}

@media screen and (width <= 720px) {
    .credentials{
        flex-direction: column;
        gap: 32px;
    }
  }
  