.footer-container{
    background: rgb(30, 27, 75);
    color: rgb(212, 212, 216);
    padding: 32px; 
}

.footer-first-section{
    display: flex;
    flex-direction: row;
}

.footer-second-section{
    border-top: 1px solid rgb(212, 212, 216);
}


.icon-list{
    list-style: none;
    display: flex;
    gap: 24px;
}

@media screen and (width < 650px) {
    .footer-first-section{
        display: flex;
        flex-direction: column;
    }
}