

.pricingcard-left-side{
    width: 30%;
    padding: 48px;
    text-align: center;
    gap: 16px;
}
.pricingcard-right-side{
    width: 70%;
    padding: 48px;
    gap: 30px;
}

.pricingcard-container ul{
    list-style: none;
    
}
.pricingcard-container li{
    line-height: 24px;
    font-size: 14px;
    padding: 1px 0;
}

.pricingcard-container h1{
    color: #18181B;
}
.pricingcard-container h3{
    color: #18181B;
}
.pricingcard-container h4{
    width: 30%;
    color: rgb(79, 70, 229);
}
.pricingcard-container p{
    margin: 24px 0 0 0;
    color: rgb(113, 113, 122);
}
.pricingcard-container span{
    margin: 24px 0 0 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: rgb(24, 24, 27);
}

.middle{
    justify-content: space-between;
    align-items: center;
}

.button{
    justify-content: center;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    padding: 8px 16px;
}