


.pricingcard-left-side{
    width: 30%;
    padding: 48px;
    text-align: center;
    gap: 16px;
}


.pricingcard-right-side{
    width: 70%;
    padding: 32px 24px;
    gap: 30px;
}
.pricingcard-right-side div h3{
    font-size: 30px;
    font-weight: 800;
    line-height: 32px;
}
.pricingcard-right-side div p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #71717a;
}
.pricingcard-right-side div ul{
    columns: 2;
}



.pricingcard-container ul{
    list-style: none;
    
}
.pricingcard-container li{
    line-height: 24px;
    font-size: 14px;
    padding: 1px 0;
    color: #3f3f46;
}



.middle{
    justify-content: space-between;
    align-items: center;
}
.middle h4{
    color: #4f46e5;
}


.button{
    justify-content: center;
    padding: 8px 16px;
    color: #fafafa;
    background-color: #312E81;
}
.button:hover{
    background-color: #4338CA;
}



@media screen and (width <= 1024px) {
    .pricing-card{
        flex-direction: column;
        max-width: 60%;
    }

    .pricingcard-left-side{
        width: 100%;
    }
    
    .pricingcard-right-side{
        width: 100%;
    }
    .pricingcard-right-side div ul{
        columns: 1;
    }
  }

  @media screen and (width <= 720px) {
    .pricing-card{
        max-width: 95%;
    }
  }

  @media screen and (width <= 450px) {


    .pricingcard-right-side div h3{
        font-size: 24px;
    }
    
  }