.pricingcard-container{
    max-width: 1280px;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;
    border-radius: 8px;
    border: 0 solid #e5e7eb;

}

.pricingcard-left-side{
    width: 30%;
    padding: 48px;
    text-align: center;
    gap: 16px;
}
.pricingcard-right-side{
    width: 70%;
    padding: 48px;
    gap: 30px;
}

.pricingcard-container ul{
    list-style: none;
    columns: 2; 
    -webkit-columns: 2; 
    -moz-columns: 2; 
}
.pricingcard-container li{
    line-height: 24px;
    font-size: 14px;
    padding: 1px 0;
}

.pricingcard-container h1{
    font-weight: 800;
    font-size: 48px;
    line-height: 48px;
    color: #18181B;
}
.pricingcard-container h3{
    font-weight: 800;
    font-size: 30px;
    line-height: 36px;
    color: #18181B;
}
.pricingcard-container h4{
    width: 30%;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: rgb(79, 70, 229);
}
.pricingcard-container p{
    margin: 24px 0 0 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: rgb(113, 113, 122);
}
.pricingcard-container span{
    margin: 24px 0 0 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: rgb(24, 24, 27);
}

.border{
   border: 1px solid #e5e7eb;
   width: 100%;
   height: 0;
   margin: 0px 5px;
}

.middle{
    justify-content: space-around;
    align-items: center;
}

.button{
    justify-content: center;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    padding: 8px 16px;
}