.side-container{
    color: #E5E7EB;
}

.buttons div{
    display: flex;
    width: fit-content;
    border-radius: 6px;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    padding: 12px 48px;
}
