* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
  color: black;
  background-color: rgb(250 250 250/1);
}

a {
  color: inherit;
  text-decoration: none;
}

td {
  border-top: 1px solid #e5e7eb;
}

.overflow-x-auto{
  overflow-x: scroll;
  color-scheme: white;
}

.buttons {
  display: flex;
  gap: 16px;
  margin: 16px 0 0 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.no-border{
  border: none;
}

/*OVERFLOW*/
.overflow-x-auto {
  overflow-x: auto !important;
}

.overflow-y-auto {
  overflow-y: auto !important;
}

.rotate-180{
  transform: rotate(180deg);
}

/*BACKGROUNDS*/
.transparent{
  background-color: transparent;
}

.bg-zinc {
  background-color: rgb(244, 244, 245);
}

.bg-white {
  background-color: white;
}

.bg-gray {
  background-color: #E4E4E7;
}

.bg-light-gray {
  background-color: #F4F4F5;
}

.bg-royalblue {
  background-color: rgb(79, 70, 229);
}

.bg-darkblue {
  background-color: rgb(49, 46, 129);
}

.bg-lila {
  background-color: #E0E7FF;
}

/*WIDTH && HEIGHT*/

.maxwidth-1366 {
  max-width: 1366px;
}

.maxwidth-1280 {
  max-width: 1280px;
}

.size-48 {
  width: 48px;
  height: 48px;
}

.height-100 {
  height: 100%;
}

.h-fit-content {
  height: fit-content;
}

.w-fit-content {
  width: fit-content;
}

.w-100 {
  width: 100%;
}

.w-90 {
  width: 90%;
}

.w-80 {
  width: 80%;
}

.w-70 {
  width: 70%;
}

.w-60 {
  width: 60%;
}

.w-50 {
  width: 50%;
}

.w-10 {
  width: 10%;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.grid-col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.align-items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.wrap {
  flex-wrap: wrap;
}



.justify-center {
  justify-content: center;
}

.justify-beetwen {
  justify-content: space-between;
}

.justify-end {
  justify-content: end;
}

.justify-start {
  justify-content: start;
}

.justify-around {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

/*BACKGROUNDS*/

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.right-0 {
  right: 0%;
}

/*SHADOWS $ BORDERS*/
.box-shadow-v1 {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -4px rgba(0, 0, 0, .1);
}

.box-shadow-v3 {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -4px rgba(0, 0, 0, .1);
}

.box-shadow-v2 {
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;
  ;
}

.rounded-16 {
  border-radius: 16px;
}

.rounded-total {
  border-radius: 9999px;
}

.rounded-12 {
  border-radius: 12px;
}

.rounded-8 {
  border-radius: 8px;
}

.rounded-6 {
  border-radius: 6px;
}

.rounded-4 {
  border-radius: 4px;
}

.border-v1 {
  border: 0.5px solid #e5e7eb;
}

.border-v2 {
  border: 1px solid #e5e7eb;
}

.border-v3 {
  border: 1px solid #e5e7eb;
}

.border-gray {
  border: 1px solid #3f3f46;
}

.border-rose{
  border: 1px solid #F43F5E;
}

.border-v4 {
  border: 2px solid rgba(49, 46, 129);
  ;
}


/*LIST*/
.list-style-none {
  list-style: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 230px;
  top: 26px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-btn {
  padding: 0 0 8px 0;
}

.dropdown-item {
  color: rgb(113 113 122);
  padding: 12px 16px;
  text-decoration: none;
  display: block;

}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropdown-btn {}


.columns-2 {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}


/*HEADING*/
.fs-48 {
  font-size: 48px;
}

.fs-36 {
  font-size: 36px;
}

.fs-30 {
  font-size: 30px;
}

.fs-24 {
  font-size: 24px;
}

.fs-20 {
  font-size: 20px;
}

.fs-12 {
  font-size: 12px;
}

.fs-18 {
  font-size: 18px;
}

.fs-16 {
  font-size: 16px;
}

.fs-14 {
  font-size: 14px;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.lh-48 {
  line-height: 48px;
}

.lh-40 {
  line-height: 40px;
}

.lh-36 {
  line-height: 36px;
}

.lh-28 {
  line-height: 28px;
}

.lh-24 {
  line-height: 24px;
}

.lh-20 {
  line-height: 20px;
}

.lh-16 {
  line-height: 16px;
}

/*TEXT COLORS*/
.color-royalblue {
  color: rgb(79, 70, 229);
}

.color-blueberry {
  color: rgb(99, 102, 241);
}

.color-darkblue {}

.color-grisnoble {
  color: #52525b;
}

.color-lightgray {
  color: #a1a1aa;
}

.color-rose{
  color: #F43F5E;
}

.color-gray {
  color: #71717a;
}

.color-gray-v2 {
  color: #3f3f46
}

.color-lightgray-v2 {
  color: #d4d4d8;
}

.color-almost-white {
  color: #fafafa;
}

.color-black {
  color: black;
}


/* PADDING & MARGIN & GAP */
.p-12 {
  padding: 12px;
}

.p-16 {
  padding: 16px;
}

.p-20 {
  padding: 20px;
}

.p-32 {
  padding: 32px;
}

.p-48 {
  padding: 48px;
}

.p-12-48 {
  padding: 12px 48px;
}

.p-30-20 {
  padding: 30px 20px;
}

.p-4-12 {
  padding: 4px 12px;
}

.px-16 {
  padding: 0px 16px;
}

.px-20 {
  padding: 0px 20px;
}

.px-40 {
  padding: 0px 40px;
}

.py-50 {
  padding: 50px 0;
}

.py-30 {
  padding: 30px 0;
}

.py-16 {
  padding: 16px 0;
}

.py-10 {
  padding: 10px 0;
}

.py-8 {
  padding: 8px 0;
}

.pt-8 {
  padding: 8px 0 0 0;
}

.pt-32 {
  padding: 32px 0 0 0;
}

.pb-16 {
  padding: 0 0 16px 0;
}

.m-auto {
  margin: 0 auto;
}

.mt-16{
  margin: 16px 0 0 0;
}
.mt-32{
  margin: 32px 0 0 0;
}

.gap-80 {
  gap: 80px;
}

.gap-45 {
  gap: 45px;
}

.gap-32 {
  gap: 32px;
}

.gap-24 {
  gap: 24px;
}

.gap-16 {
  gap: 16px;
}

.gap-8 {
  gap: 8px;
}

.gap-4 {
  gap: 4px;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.modal-video {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  z-index: 1000000;
  cursor: pointer;
  opacity: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.3s;
  animation-name: modal-video;
  transition: opacity .3s ease-out;
}

.modal {
  width: 90%;
  height: 0%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.video {
  display: flex;
  width: 100%;
}


.button-red {
  background: #E11D48;
  color: #e5e7eb;
  border-radius: 6px;
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 8px 16px;
}

.box {
  width: 49%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border: 1px solid #c7c7c7;
}

.box:hover {
  background-color: rgba(59, 130, 246, 0.1);
}

textarea {
  font-family: arial, verdana, ms sans serif;
}

.contact-form {}

.form-input {
  border: 1px solid #E4E4E7;
  appearance: none;
}

.form-input:focus {
  border: 1px solid #2563EB !important;
}

.container {
  padding: 0px;
}

/* MEDIA QUERIES */

@media screen and (width <=1366px) {
  .container {
    padding: 40px;
  }
}

@media screen and (width <=1024px) {
  .box {
    width: 99%;
  }
}

@media screen and (width <=750px) {
  .column-tablet{
    display: flex;
    flex-direction: column;
  }
  .w-100-tablet{
    width: 100%;
  }

  .grid-col-tablet-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (width <=450px) {
  .container {
    padding: 40px 20px;
  }

  .column-sm{
    display: flex;
    flex-direction: column;
  }

  .grid-col-sm-1 {
    grid-template-columns: repeat(1, 1fr);
  }

  .p-sm-20 {
    padding: 20px;
  }

  .w-sm-100 {
    width: 100%;
  }

  .m-auto {
    margin: none;
  }

  .justify-center-sm{
    justify-content: center;
  }
  
  .justify-beetwen-sm {
    justify-content: space-between;
  }
  
  .justify-end-sm {
    justify-content: end;
  }
  
  .justify-start-sm {
    justify-content: start;
  }
  
  .justify-around-sm {
    justify-content: space-around;
  }
  
  .align-start-sm {
    align-items: flex-start;
  }

  .gap-16-sm{
    gap: 16px;
  }

  .fs-sm-48 {
    font-size: 48px;
  }

  .fs-sm-36 {
    font-size: 36px;
  }

  .fs-sm-30 {
    font-size: 30px;
  }

  .fs-sm-24 {
    font-size: 24px;
  }

  .fs-sm-20 {
    font-size: 20px;
  }

  .fs-sm-12 {
    font-size: 12px;
  }

  .fs-sm-18 {
    font-size: 18px;
  }

  .fs-sm-16 {
    font-size: 16px;
  }

  .fs-sm-14 {
    font-size: 14px;
  }

  .fw-sm-300 {
    font-weight: 300;
  }

  .fw-sm-400 {
    font-weight: 400;
  }

  .fw-sm-500 {
    font-weight: 500;
  }

  .fw-sm-600 {
    font-weight: 600;
  }

  .fw-sm-700 {
    font-weight: 700;
  }

  .fw-sm-800 {
    font-weight: 800;
  }

  .lh-48 {
    line-height: 48px;
  }

  .lh-40 {
    line-height: 40px;
  }

  .lh-36 {
    line-height: 36px;
  }

  .lh-28 {
    line-height: 28px;
  }

  .lh-24 {
    line-height: 24px;
  }

  .lh-20 {
    line-height: 20px;
  }

  .lh-16 {
    line-height: 16px;
  }
}